#repository-container-header .Counter,
a[href$='/stargazers'],
a[href$='?tab=followers'],
a[href$='/network/members'],
a[href$='/watchers'] strong,
a[href$='/forks'] strong,
a:has(> img[data-canonical-src^='https://github-readme-stats.vercel.app/api?']),
li:has(> a[href$='/followers']),
div:has(> h2 a[href$='?tab=achievements']) {
  opacity: var(--depop-opacity, 1) !important;
  max-height: var(--depop-max-height, auto) !important;
  max-width: var(--depop-max-width, auto) !important;
  pointer-events: var(--depop-pointer-events, auto) !important;
  overflow: hidden !important;
}
