name: CI
on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/ci.yml'
      - '*.nix'
      - 'flake.*'
      - 'deno.jsonc'
      - '**.css'
      - '**.ts'
      - '**/manifest.json'
  pull_request:
    paths:
      - '.github/workflows/ci.yml'
      - '*.nix'
      - 'flake.*'
      - 'deno.jsonc'
      - '**.css'
      - '**.ts'
      - '**/manifest.json'
  schedule:
    # Every 10:42 JST
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    # - cron: '42 1 * * *'
    - cron: '*/5 * * * *' # Debugging scheduled CI failures
  workflow_dispatch:

jobs:
  nix:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
      - run: nix flake check

  check:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
      - run: nix develop --command deno task check

  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
      - run: nix develop --command deno task check
      - name: Build
        id: build
        run: |
          # Don't use subprocess when getting the result, it makes not easy to get the error messages
          nix develop --command deno task build >report.json
          printf "report<<JSON\n%s\nJSON\n" "$(<report.json)" >> "$GITHUB_OUTPUT"

      - name: Upload the product for nightly use and debug
        uses: actions/upload-artifact@v5
        with:
          name: '${{ fromJson(steps.build.outputs.report).productBasename }}'
          path: '${{ fromJson(steps.build.outputs.report).productPath }}'
          if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`
