name: CI
on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/ci.yml'
      - '*.nix'
      - 'flake.*'
      - 'deno.jsonc'
      - '**.css'
      - '**.ts'
      - '**/manifest.json'
  pull_request:
    paths:
      - '.github/workflows/ci.yml'
      - '*.nix'
      - 'flake.*'
      - 'deno.jsonc'
      - '**.css'
      - '**.ts'
      - '**/manifest.json'
  schedule:
    # Every 10:42 JST
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron: '42 1 * * *'
  workflow_dispatch:

jobs:
  nix:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@7ec16f2c061ab07b235a7245e06ed46fe9a1cab6 # v31.8.3
      - run: nix flake check

  check:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@7ec16f2c061ab07b235a7245e06ed46fe9a1cab6 # v31.8.3
      - run: nix develop --command deno task check

  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@7ec16f2c061ab07b235a7245e06ed46fe9a1cab6 # v31.8.3
      - run: nix develop --command deno task check
      - name: Build
        id: build
        run: |
          {
            echo 'report<<JSON'
            nix develop --command deno task build
            echo 'JSON'
          } 2>/dev/null | tee --append "$GITHUB_OUTPUT"

      - name: Upload the product for nightly use and debug
        uses: actions/upload-artifact@v5
        with:
          name: '${{ fromJson(steps.build.outputs.report).productBasename }}'
          path: '${{ fromJson(steps.build.outputs.report).productPath }}'
          if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`
