name: CI
on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/ci.yml'
      - '*.nix'
      - 'flake.*'
      - 'deno.jsonc'
      - '**.css'
      - '**.ts'
      - '**/manifest.json'
  pull_request:
    paths:
      - '.github/workflows/ci.yml'
      - '*.nix'
      - 'flake.*'
      - 'deno.jsonc'
      - '**.css'
      - '**.ts'
      - '**/manifest.json'
  schedule:
    # Every 10:42 JST
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron: '42 1 * * *'
  workflow_dispatch:

jobs:
  nix:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
      - run: nix flake check

  check:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
      - run: nix develop --command deno task check

  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
      - run: nix develop --command deno task check
      - name: Build
        id: build
        run: |
          tempfile="$(mktemp report.XXXX.json)"
          # Don't use subprocess when getting the result, it makes not easy to get the error messages
          nix develop --command deno task build >"$tempfile"
          printf "report<<JSON\n%s\nJSON\n" "$(<"$tempfile")" | tee --append "$GITHUB_OUTPUT"

      - name: Upload the product for nightly use and debug
        uses: actions/upload-artifact@v7
        with:
          name: '${{ fromJson(steps.build.outputs.report).productBasename }}'
          path: '${{ fromJson(steps.build.outputs.report).productPath }}'
          if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`
